@page
@model Car_Cost_Calculator.Pages.CostOverviewModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Navigation.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>



    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

                <img style=" width: 75px; height: 105px;" src="~/Images/CarCostNavLogo.png">


<!--verander axis, horizontaal naar digitaal vice versa-->
<!--ipv 1 kolom naar 2 kolommen-->
<!--foreach loop met de data en tel op in totaal-->
<!-- verschillende kosten naar 1 kost brengen, behalve brandstofkosten-->
<!--creeer functie waarbij je foreach loop doet tussen bepaalde datums in-->
            </div>
            <div class="col-sm-8 text-left">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Voertuig:</th>
                            <th scope="col">Mercedes</th>
                            <th scope="col">Honda car</th>
                            <th scope="col">Aston Martin car</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Kenteken:</th>
                            <td>AC-130-HP</td>
                            <td>BB-90-PP</td>
                            <td>FOR-I-80</td>

                        </tr>
                        <tr>
                            <th scope="row">Kilometerstand:</th>
                            <td>1300</td>
                            <td>1300</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">Aanschafdatum:</th>
                            <td>2020-03-15 15:00:01</td>
                            <td>2020-03-15 15:00:01</td>
                            <td>2010-03-15 09:45:09</td>
                        </tr>
                        <tr>
                            <th scope="row">Aanschafprijs:</th>
                            <td>4799</td>
                            <td>4799</td>
                            <td>2400</td>
                        </tr>
                        <tr>
                            <th scope="row">Brandstofkosten:</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Wegenbelastingskosten:</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Verzekeringskosten:</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Overige kosten:</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Totaal:</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <div class="col-sm-2 sidenav">
                
                <p>Handige Links:</p>
                <p><a href="/Index">Home</a></p>
                <p><a href="/CostInput">Kosten invoeren</a></p>
                <p><a href="#">Uitloggen</a></p>



            </div>
        </div>
    </div>




</body>
</html>
