@page
@model Car_Cost_Calculator.Pages.CostInputModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Navigation.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

                <img style=" width: 75px; height: 105px;" src="~/Images/CarCostNavLogo.png">



            </div>
            <div class="col-sm-8 text-left">
                <div class="py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <!--verander maand/kwartaal naar tank/overige kosten-->
                                <!--splits kosten op, verander kostnamen en geef namenveld voor kosten-->
                                <!--maak datumveld-->
                                <!--eventueel ook specefiek voertuig aanwijzen? Href?-->
                                <!--kijk naar my vehichles-->
                                <!--splits kost op in 2 soorten-->
                                
                                <div class="col-md-12">

                                    <div class="btn-group">
                                        <a href="/FuelCostInput" class="btn btn-secondary" role:"button">Tank-Kosten</a> 
                                        <a href="/CostInput" class="btn btn-warning" role:"button">Auto-kosten</a> 
                                    </div>
                                    
                                    <form method="post" asp-page-handler="AddCost" id="costform">

                                        <div class="form-group">
                                            <label>Naam kostenpost:</label>
                                            <input asp-for="costs.Cost_Name" class="form-control" placeholder="Soort kost">
                                            <span asp-validation-for="costs.Cost_Name"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Prijs:</label>
                                            <input asp-for="costs.Cost_Amount" type="number" class="form-control" placeholder="€">
                                            <span asp-validation-for="costs.Cost_Amount"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Datum kostenpost:</label>
                                            <input asp-for="costs.Cost_Date" type="date" class="form-control" placeholder="01-01-2000">
                                            <span asp-validation-for="costs.Cost_Date"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Kies hier uw auto:</label>

                                            <select asp-for="costs.Vehicle_Cost">
                                                @foreach (var NumberPlate in Model.vehicles)
                                                {
                                                    <optgroup label="@NumberPlate.Vehicle_Kind">
                                                        <option value="@NumberPlate.Number_Plate">@NumberPlate.Number_Plate</option>
                                                    </optgroup>
                                                }
                                            </select>

                                        </div>

                                        <button type="submit" class="btn btn-secondary" role:"button">Submit</button>
                                    </form>
                         
                                </div>
                            </div>
                            <div class="col-md-6" style=""></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-2 sidenav">


                <p>Handige Links:</p>
                <p><a href="/Index">Home</a></p>
                <p><a href="/CostOverview">Kostenoverzicht</a></p>
                <p><a href="#">Uitloggen</a></p>

            </div>
        </div>
    </div>




</body>
</html>