@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta name="color-scheme" content="dark light"/>
</head>


<div class="text-center">
    <h1 class="display-4">Do you want to know how much you are spending on your vehicles?</h1>
    
    <br>
    
    <p>Of course you do! Thanks to this website you are able to create an overview of all your vehicle-related Costs.</p>
    <p><a href="Register">Click here to sign up!</a> It's all for free!</p>
</div>

<div class="Image">
    <img class="rounded mx-auto d-block" src="~/Images/CarCostLogo.png" alt="CarCostCalculatorLogo">
</div>

<a href="UserVehicles">MyVehicles</a>