@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Navigation.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

     

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
       
                <img style=" width: 75px; height: 105px;" src="~/Images/CarCostNavLogo.png">



            </div>
            <div class="col-sm-8 text-left">
                <h1>Welkom bij Car Cost Calculator!</h1>
                <p>Car Cost Calculator is een makkelijke website waarmee u uw voertuigkosten kan invoeren en berekenen. <br> Car Cost Calculator geeft u inzicht in uw kosten van uw voertuig(en), zodat u kunt kijken wat de kosten zijn van uw vervoer. <br> U kan een account aanmaken om te beginnen, als u al een account heeft kan u inloggen.<p/>
                   
               
            </div>
            <div class="col-sm-2 sidenav">


                <p>Handige Links:</p>
                <p><a href="/Login">Login</a></p>
                <p><a href="/Register">Registreren</a></p>
              

            </div>
            </div>
        </div>
   

  

</body>
</html>
