@page
@model Car_Cost_Calculator.Pages.LoginModel
@{
    ViewData["Title"] = "Inloggen";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Navigation.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

                <img style=" width: 75px; height: 105px;" src="~/Images/CarCostNavLogo.png">

            </div>

            <div class="col-sm-8 text-left">
                <h2>Inloggen</h2>

                <form method="post" asp-page-handler="Login">
                    <div class="container">
                        <div class="row">
                            <div class="column">
                                <label>E-mailadres*</label> <br>
                                <input asp-for="user.mail" type="email">
                                <span asp-validation-for="user.mail"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <label >Wachtwoord*</label> <br>
                                <input asp-for="user.password" type="password">
                                <span asp-validation-for="user.password"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <input type="checkbox" />
                                <label for="Sessie">Ingelogd blijven.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a href='/CostInput'>Tijdelijke Login</a>
                                <button name="action" value="Login" class="btn btn-dark" asp-page="UserVehicles">Login</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <p>*=Verplicht</p>
            <p>Met het versturen van dit registratieformulier, gaat u automatisch akkoord met de <a href="/Privacy">privacy voorwaarden</a>.</p>



            <div class="col-sm-2 sidenav">

                <p>Handige Links:</p>
                <p><a href="/Login">Login</a></p>
                <p><a href="/Register">Registreren</a></p>
                <p><a href="#">Uitloggen</a></p>
            </div>
        </div>
    </div>

</body>
</html>
