@page
@model Car_Cost_Calculator.Pages.LoginModel
@{
}

<h2>Inloggen</h2>

<div class="container">
    <div class="row">
        <div class="column">
                <label for="fname">E-mailadres</label>
                <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="column">
                <label for="lname">Wachtwoord</label>
                <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="column">
                <input type="submit" value="Submit">
        </div>
    </div>
</div>