@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>


        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }
    </style>
</head>
<body>



    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

                <img style=" width: 75px; height: 105px;" src="~/Images/CarCostNavLogo.png">



            </div>
            <div class="col-sm-8 text-left">
                <h1>We houden je privégegevens privé</h1>
                <p>We doen er alles aan om jouw privégegevens ook echt privé te houden.</p>
                <p>We vragen wel gegevens van je, zodat we je zo goed mogelijk kunnen helpen. Welke gegevens we vragen en waarvoor we ze gebruiken lees je hieronder. Ook zie je wat je rechten zijn, wie toegang heeft tot je data en hoe lang we je gegevens bewaren.</p>
                <p><strong>Dit privacybeleid is voor het laatst gewijzigd op 29 Maart 2021.</strong></p>

            </div>

            <div class="col-sm-2 sidenav">



            </div>



        </div>
    </div>




</body>
</html>






