@page
@model Car_Cost_Calculator.Pages.RegisterModel
@{
}

<h2>Registreren</h2>

<div class="container">
    <div class="row">
        <div class="column">
            <label for="naam">Naam*</label>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="mail">
                E-mailadres*<label>
                    <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="passw">Wachtwoord*</label>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="checkbox"
            <label for="nieuwsbrief">Ik meld bij aan voor de nieuwsbrief</label>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="checkbox" value="1"
            <label for="nieuwsbrief">Klik op het vakje om te bevestigen dat je geen robot bent.*</label>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="submit" value="Submit">
        </div>
    </div>
</div>
<p>*=Verplicht</p>
<p>Met het versturen van dit registratieformulier, gaat u automatisch akkoord met de <a href="/Privacy">Privacy voorwaarden</a>